$primary-color: #333;
$secondary-color: #fff;
$color-dark-blue: #6576c2;

@mixin button-style {
  background-color: $color-dark-blue;
  border: none;
  padding: 0 1rem;
  margin: 0.5rem 0.25rem;
  border-radius: 3px;
  outline: none;
  color: $secondary-color;
  font-size: 16px;
  line-height: 1.5;
  white-space: nowrap;
  cursor: pointer;
}

h1 {
  text-align: center;
}

.gameName {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  color:#6576c2;
}

body {
  margin: 0;
  padding-bottom: 3rem;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#grid {
  display: grid;
  grid-template-columns: repeat(15, 30px);
  grid-gap: 3px;
  padding: 4px;
  max-width: fit-content;
  margin: 10px auto;
  height: auto;
  outline: 10px solid black;
  outline-style: ridge;

  .cell {
    height: 30px;
    width: 30px;
    border: 1px solid black;
  }
}
#roomList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 0 auto;
  padding: 10px;
  max-width: 70vw;
  width: 100%;
  list-style: none;
}

#referenceCanvas {
  width: 300px; 
  height: 300px;
  border: 1px solid black;
}

.messages {
  list-style: none;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 70vw;
  width: 100%;
  outline: 2px solid black;
}

.messages li {
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  word-wrap: break-word;
  font-size: 16px;
  animation: 1s ease-in 0s 1 slidein;
  position: relative;
}

span {
  position: absolute; 
  top: 30px;
  border-radius: 5px;
  animation: none;
  margin: 10px 0;
  color: grey;
}

  .sent {
    background-color: #DCF8C6; /* light green */
    color: #000; /* black */
    margin: 2rem 0;
    position: relative;
    align-self: flex-start;
  }

  .received {
    background-color: #CCE5FF; /* light blue */
    color: #000; /* black */
    margin: 2rem 0;
    position: relative;
    align-self: flex-end;
  }

  .autoText {
    background-color: #fff3cc; /* light blue */
    color: #000; /* black */
    margin: 2rem 0;
    position: relative;
    align-self: center;
  }

  @keyframes slidein {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }

    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }


#loginContainer {
  width: 300px;
  height: 375px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 1px 1px 2px 1px grey;

  .form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    height: 3rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px);

    input {
      border: none;
      padding: 10px;
      flex-grow: 1;
      border-radius: 20px;
      margin: 0.25rem;
      background-color: #fff;
      font-size: 16px;
    }
  }
}

button {
  @include button-style;
}

#chatFeedback, #roomNumber {
  text-align: center;
}